*{
    margin: 0px;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navigation Bar */

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: aliceblue;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

/* Box 1 */

.nav-logo{
    height: 50px;
    width: 140px;
}

.border-hover{
    border: 1.5px solid transparent;
}

.border-hover:hover{
    border: 1.5px solid white;
}

.logo{
    height: 50px;
    width: 100%;
    font-weight: 700;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.logo i{
    font-size: 2.5rem;
}

/* Box 2 */
.text2{
    color: #cccccc;
    font-size: 0.70rem;
    margin-left: 15px;
}

.text3{
    color: #ffffff;
    font-size: 0.80rem;
    margin-left: 3px;
    font-weight: 700;
}

.nav-loc-icon{
    display: flex;
    align-items: center;
}

/* Box 3 */

.nav-search{
    display: flex;
    justify-content: space-evenly;
    width:550px;
    height: 40px;
    /* background-color: aqua; */
    border-radius: 4px;
}

.nav-search:hover{
    border: 2px solid orange;
}

.search-select{
background-color: #f3f3f3;
width: 50px;
border: none;
text-align: center;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}

.search-input{
border: none;
font-size: 1rem;
width: 100%;
}

.search-logo{
    width: 45px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

/* Box 4 */
.nav-lang{
    display: flex;
}

.lang-icon{
    font-size: 0.85rem;
}

.lang-select{
    font-size: 0.85rem;
    border: none;
    background-color: #0f1111;
    color: #ffffff;
    font-weight: 700;
}

/* Box 5 & 6 */
.nav-text1{
font-size: 0.70rem;
}

.nav-text2{
font-size: 0.80rem;
border: none;
background-color: #0f1111;
color: #ffffff;
font-weight: 700;
}

/* Box 6 */
.nav-cart{
display: flex;
}

.cart-icon{
font-size: 25px;
}

.cart-text{
font-weight: 700;
font-size: 0.80rem;
align-self: end;
}

/* Panel */

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #f3f3f3;
}

.panel-select select{
    border: none;
    background-color: transparent;
    color: #f3f3f3;
    font-size: 1rem;
    font-weight: 500;
    appearance: none;
}

.panel-ops a{
    text-decoration: none;
    color: #f3f3f3;
    display: inline;
    font-size: 0.8rem;
    font-weight: 700;
}

.panel-ops{
    width:75%;
}

.panel-deals a{
    text-decoration: none;
    color: #f3f3f3;
    display: inline;
    font-size: 0.9rem;
    font-weight: 700;
}

/* Hero Section */

.hero-sec{
    background-image: url("assets/hero_image.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: #f3f3f3;
    color: #0f1111;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    width: 90%;
    margin-bottom: 25px;
}

.hero-msg a{
    color: #007185;
    text-decoration: none;
}

.hero-msg a:hover{
    color: #007185;
    text-decoration: underline;
}

/* Shop Section */

.shop-sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7eb;
}

.shop-sec h2{
    font-size: 1.25rem;
}

.box{
    /* border: 1px solid black; */
    height: 400px;
    width: 24%;
    background-color: #ffffff;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img{
    background-size: cover;
    height: 300px;
    margin: 0.9rem 0 0.9rem 0;
    background-position: center;
}

.shop-content{
    margin: 0 0.9rem 0 0.9rem;
}

.shop-content a{
    color: #007185;
    text-decoration: none;
}

.box1-main-img{
    background-size: cover;
    height: 300px;
    margin: 0.9rem 0 0.9rem 0;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.box1-img{
    border: 1px solid blue;
    height: 125px;
    width:45%;
}

.box1-img p{
    font-size: 0.75rem;
    align-self:self-end;
}

/* Footer */
footer{
    margin-top: 15px;
}

.foot-panel1{
    background-color: #37475a;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 0.8rem;
}

.foot-panel2{
    background-color: #222f3d;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    height: 300px;
}

ul{
    margin-top: 20px;
}

ul p{
    font-size: 0.9rem;
    font-weight: 700;
}

ul a{
    display: block;
    font-size: 0.8rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3{
    background-color: #37475a;
    color: #ffffff;
    height: 50px;
    border-top: 0.5px solid white;
}

.foot-logo{
    height: 50px;
    width: 100%;
    font-weight: 700;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-logo i{
    font-size: 2.5rem;
}

.foot-logo a{
    font-size: 0.7rem;
    margin: 0px 10px 0px 10px;
    height: 10px;
    border: 1px solid #dddddd;
    padding: 10px 10px 10px 10px;
    border-radius: 2px;
}

.foot-panel4{
    background-color: #222f3d;
    color: #ffffff;
    height: 60px;
    font-size: 0.8rem;
    text-align: center;
}

.foot-pages{
    padding-top: 15px;
}

.foot-copyright{
    padding-top: 10px;
}
